<div class="mx-auto max-w-5xl">
    <div class="text-xl font-bold mt-8 mb-4">
        Tooltip
    </div>
    <div class="flex gap-5 text-center">
        <div class="border-2 border-purple-800 w-28" w-tooltip="right tooltip" w-position="right" classes="bg-red-300 w-4">
            Right tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="left tooltip" w-position="left" >
            Left tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="top tooltip" w-position="top">
            Top tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="bottom tooltip" w-position="bottom">
            Bottom tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="html<br><strong>tooltip</strong>" w-position="right" [w-html]="true">
            HTML tolltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="custom design" w-class="proute" w-position="right">
            Custom tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="No animation tooltip"  w-position="right" [w-animation]="false">
            No animations
        </div>
    </div>
</div>
<div>
    <w-button color="blue"></w-button>
    <w-button color="slate"></w-button>
    <w-button color="lime"></w-button>
    <w-button color="red"></w-button>
    <w-button color="zinc"></w-button>
    <w-button color="zinc2"></w-button>
</div>

<div>
    <lib-wds-calendar></lib-wds-calendar>
</div>
