<div class="mx-auto max-w-5xl">
    <div class="text-xl font-bold mt-8 mb-4">
        Tooltip
    </div>
    <div class="flex gap-5 text-center">
        <div class="border-2 border-purple-800 w-28" w-tooltip="left tooltip" w-position="left" >
            Left tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="right tooltip" w-position="right" classes="bg-red-300 w-4">
            Right tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="top tooltip" w-position="top" w-class='proute'>
            Top tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" w-tooltip="bottom tooltip" w-position="bottom">
            Bottom tooltip
        </div>
    </div>
</div>
