<div class="mx-auto max-w-5xl">
    <div class="text-xl font-bold mt-8 mb-4">
        Tooltip
    </div>
    <div class="flex gap-5 text-center">
        <div class="border-2 border-purple-800 w-28" tooltip="left tooltip" position="left">
            Left tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" tooltip="right tooltip" position="right">
            Right tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" tooltip="top tooltip" position="top">
            Top tooltip
        </div>
        <div class="border-2 border-purple-800 w-28" tooltip="bottom tooltip" position="bottom">
            Bottom tooltip
        </div>
    </div>
</div>
